<% provide(:title, "用途") %>
<div class="container font_color text-center">
  <h1 class="featurette-heading">PFCバランサーとは</h1>



      <div class="row featurette">
          <p class="lead">PFCバランサーは、「健康で理想的な体型」になる為のアプリになります。
          日々の食事内容を可視化して、取り過ぎている栄養素や足りない栄養素を調整し、食事を管理していきましょう。
          バランスよく食事を摂取して、健康で理想的な体型を目指しましょう！</p>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
          <h2 class="featurette-heading">日本の食生活</h2>
          <p class="lead">現在の私たちの食生活は、豊富な食材に恵まれ、手軽で安価な食事に恵まれ、
          多様な料理を楽しむことができます。しかし近年食事内容は、主食である米が減少する一方、
          油脂等が増加し、PFCバランス（P：たんぱく質、F：脂質、C：炭水化物）の崩れが見られます。
          日本人の成人の肥満者（BMI≧25kg/m2）の割合は、男性 33.0％、女性 22.3％であり、男性は増加傾向にあります。
          やせの者（BMI＜18.5kg/m2）の割合は男性 3.9％、女性 11.5％であり、20代の女性のやせの者の割合は、20.7％になります。</p>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
          <h2 class="featurette-heading">食事を管理する</h2>
          <p class="lead">ライフスタイルの変化等とも関係しながら、食習慣の乱れや運動不足等による生活習慣病が増加しています。
          日本人の死亡原因の6割が、この生活習慣病に起因している為、栄養管理と運動することがとても大切なことだといえます。
          運動は今すぐ始めることが難しいかもしれません、しかし食事は毎日していることなので、食事管理は今すぐ行えます。
           食事の管理と聞くと肥満にならない為に行うイメージがあるかと思います。それは正しいですが、やせ過ぎにも注意しなければいけません。
          結局バランスがとても大事なのです。食べ過ぎも控えすぎもよくありません。正しい栄養を正しい量とる必要があります。</p>

      </div>

    </div>
