<% provide(:title, "TOP") %>
<div class="cover example text-center">
  <div class="contents">
    <p class="cover-heading">PFCバランサー</p>
    <h3 class="text-center">食事管理で、健康で理想的な体型へ！</h3>
    <%= link_to "新規登録", signup_path, class: "btn btn-lg  btn-info" %>
  </div>
</div>
