<% provide(:title, "TOP") %>
<div class = "center jumbotron">
  <h1>PFCバランス管理は人生管理</h1>
  <%= link_to "新規登録", signup_path, class: "btn btn-lg btn-primary" %>
</div>
  <h2>
  PFCとは、Protein（タンパク質）Fat（脂質）Carbohydrate（炭水化物）
  それぞれの頭文字を取った言葉です。　
  </h2>
<%= image_tag "4266760_m.jpg", alt: "食べ物", width: '60%' %>
