@import "bootstrap";
@import "simple_calendar";
$gray-medium-light: #eaeaea;

body {
  height: 100%;
  background-color: #333;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}


.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}


/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  vertical-align: middle;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

.cover h3 {
  margin-bottom: 30px;
}
/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* forms */

input:not(.exclusion), textarea, select:not(.exclusion), .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-top: 15px;
  margin-bottom: 15px;
  @include box_sizing;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  .form-control {
    color: red;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

.cover-heading {
  padding-top: 60px;
  letter-spacing: 0.1em;
}


.navbar-default {
  background-color:  #333;

}
.navbar-default .navbar-nav > li > a {
  color: #D9E5FF;
}

.calendar {
  background-color: #fff;
}

.calendar-title {
  color: #fff;
}

.font_color {
  color: #fff;
}

.calendar-heading span {
  font-size: 2em
}

.bth-top {
  margin-top: 15px;
}
.bth-bottom {
  margin-bottom: 15px;
}
section {
  padding-top: 150px;
  padding-bottom: 150px;
}

.contents {
  background-color: rgba(0,0,0,0.6);
  width: 100%;
  height: 800px;
}



.featurette-divider {
  margin: 30px 0; 
}


.featurette-heading {
  font-weight: 300;
  line-height: 1;
  margin-top: 30px;
  margin-bottom: 30px;
}
.featurette-image {
  background-color: rgba(0,0,0,0.6);
}
.image-size{
  width: 100%;
  margin-top: 10px;
  margin-bottom: 20px;
}


// 大デバイス（デスクトップ, 1200px 未満）
@media (min-width: 992px) {
  .example {
    width: 100%;
    height: 800px;
    color: #fff;
    background-image: url("./BO151030535008_TP_V.jpg");
    background-size: cover;
    background-position: center;
    font-family: serif;
    margin-top: 10px;
    padding-bottom: 100px;
  }
  .cover-heading {
    font-size: 65px;
  }
  .about-text{
    font-size: 30px;
  }
  .test-user-text{
    font-size: 40px;
  }
 }
 // 中デバイス（タブレット, 992px 未満）
 @media (max-width: 991.98px) {
  .example {
    width: 100%;
    height: 800px;
    color: #fff;
    background-image: url("./BO151030535008_TP_V.jpg");
    background-size: cover;
    background-position: center;
    font-family: serif;
    margin-top: 10px;
    padding-bottom: 100px;
  }
  .cover-heading {
    font-size: 65px;
  }
  .about-text{
    font-size: 25px;
  }
  .test-user-text{
    font-size: 30px;
  }
 }
 // 小デバイス（横向きモバイル, 768px 未満）
 @media (max-width: 767.98px) {
  .example {
    width: 100%;
    height: 600px;
    color: #fff;
    background-image: url("./BO151030535008_TP_V.jpg");
    background-size: cover;
    background-position: center;
    font-family: serif;
    margin-top: 10px;
    padding-bottom: 100px;
  }
  .cover-heading {
    font-size: 45px;
  }
  .cover-text {
    font-size: 20px;
  }
  .about-text{
    font-size: 18px;
  }
  .user-show-text{
    font-size: 30px;
  }
  .index-text {
    font-size: 12px;
  }
  .test-user-text{
    font-size: 25px;
  }
 }
 // @include media-breakpoint-up(sm) {
 // 極小デバイス（縦向きモバイル, 576px 未満）
 @media (max-width: 575.98px) {
  .example {
    width: 100%;
    height: 400px;
    color: #fff;
    background-image: url("./BO151030535008_TP_V.jpg");
    background-size: cover;
    background-position: center;
    font-family: serif;
    margin-top: 10px;
    padding-bottom: 100px;
  }
  .cover-heading {
    font-size: 45px;
  }
   .cover-text {
    font-size: 20px;
  }
  .example {
    padding-bottom: 50px;
  }
  .about-text{
    font-size: 18px;
  }
  .calendar-text{
    font-size: 2px;
  }
  .user-show-text{
    font-size: 25px;
  }
  .index-text {
    font-size: 10px;
  }
  .test-user-text{
    font-size: 20px;
  }
 }
